.card-movie-container {
    position: relative;
    cursor: pointer;
}

.card-movie-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid transparent;
    border-radius: 0.375rem;
    opacity: 0;
    transition: opacity 100ms linear, border 150ms linear;
}

.card-movie-container:hover::after {
    opacity: 1;
    border-color: #e5e5e5;
}

@media screen and (max-width: 768px) {
    .slick-slide{
        margin: 0;
    }
}