.bg-nav-decoration::after{
    content: "";
    height: 170px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: height 300ms ease 0s;
    z-index: -1;
    will-change: height;
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03) 15%, rgba(0, 0, 0, 0.125) 30%, rgba(0, 0, 0, 0.25) 46%, rgba(0, 0, 0, 0.4) 61%, rgba(0, 0, 0, 0.553) 75%, rgba(0, 0, 0, 0.694) 88%, rgba(0, 0, 0, 0.8));
}